<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Accounts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/admin/studentdetails" method="POST">
<div class="container">
  <h2>Students Update Center</h2>
  <p>Student Accounts Are:</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>NO</th>
        <th>ID</th>
        <th>NAME</th>
        <th>Password</th>
        <th>Edit/Delete</th>
      
      </tr>
    </thead>
    <tbody> <% for(var i=0; i < info.length; i++) { %>
      <tr>
          <td># <%= (i+1) %></td>
          <td><%= info[i].sid %></td>
           <td><%= info[i].sname %></td>
           <td><%= info[i].spass %></td>
      

           <td>
              <a class="btn btn-xs btn-warning btn-edit" href="/admin/student/edit/<%=info[i]._id %>">Update</a>
  
              <a class="btn btn-xs btn-danger btn-delete" href="/admin/student/delete/<%=info[i]._id %>">Delete</a>
  
            </td>
                </tr>


  <% } %>
     
    </tbody>
  </table>
</div>
</form>
</body>
</html>
